Внимание к задаче $issueUrl
С момента последнего обновления статуса/трекера/приоритета прошло уже $diff час.
Время предполагаемой реакции на задачу $time_delay час.
Назначена на $assigned_to_name
Последнее обновление $formattedLastChanged

Это сообщение отправлено автоматически. Не отвечайте на него